// CUSTOM VARIABLES - edit variables here (get variables you want to change from _variables.scss)

$enable-negative-margins: true;

// Colors
$primary:         #4AD471;
$secondary:       #45BF5D;
$light:           #56F576;
$dark:            #113333;
$lightgreen:      #6EFF97;
$black:           #000000;
$white:           #FFFFFF;
$header:          #143D37;
$registry:        #011409;
$green:           #1BB55C;
$danger:          #dc3545;

$theme-colors: (
  "primary":        $primary,
  "secondary":      $secondary,
  "light":          $light,
  "dark":           $dark,
  "body":           $white,
  "lightgreen":     $lightgreen,
  "black":          $black,
  "white":          $white,
  "header":         $header,
  "registry":       $registry,
  "green":          $green,
  "danger":         $danger
);

// Font
$font-family-sans-serif:    "Inter";

$font-size-root:              null !default;
$font-size-base:              1rem !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$input-btn-focus-width:       .1rem;

$font-weight-lighter:       200;
$font-weight-light:         300;
$font-weight-normal:        400;
$font-weight-bold:          600;
$font-weight-bolder:        700;

$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2.5;
$h3-font-size:                $font-size-base * 2;
$h4-font-size:                $font-size-base * 1.75;
$h5-font-size:                $font-size-base * 1.5;
$h6-font-size:                $font-size-base * 1.25;

$font-sizes: (
    l: $h1-font-size * 1.25,
    xl: $h1-font-size * 1.5,
    xxl: $h1-font-size * 2
);

// Spacing
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4.5
);

// Borders
$border-radius-sm:  .25rem;     // 1
$border-radius:     .5rem;      // 2
$border-radius-lg:  2rem;       // 3

// Links
$link-color:  $secondary;

// Navbar
$navbar-toggler-padding-y:          .5rem;
$navbar-toggler-padding-x:          .5rem;
$navbar-toggler-font-size:          $font-size-sm;

$navbar-light-color:                $white;
$navbar-light-hover-color:          $primary;
$navbar-light-active-color:         $primary;
$navbar-light-toggler-border-color: rgba($primary, .1);

// Body
html, body {
  background-color: $white;
  color: $black;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Form Checkboxes
$form-check-input-width: 1.5em;
$form-check-input-border-radius:          .15em;
$form-check-input-focus-box-shadow: 0 0 0 .25rem rgba($white, .25);
$form-check-input-checked-color:          $primary;
$form-check-input-checked-bg-color:       $white;

// Main SCSS
@import "~bootstrap/scss/bootstrap";

// font-family: 'Inter', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');